@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
:root {
  --violet: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
  --darker-magenta: hsl(300, 71%, 64%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: var(--violet);
  background-image: url("../images/bg-mobile.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 120%;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  justify-content: space-between;
  padding: 32px 35px 40px;
}
header {
  justify-content: flex-start;
  svg {
    cursor: pointer;
    height: auto;
    width: 128px;
  }
}
main,
div[role="img"],
footer {
  display: grid;
  place-items: center;
}
div[role="img"] {
  img {
    height: auto;
    max-width: 450px;
    padding: 12px 2.5px 0;
    width: 100%;
  }
}
main {
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  max-width: 56ch;
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 13px;
  }
  p {
    padding-bottom: 25px;
  }
  .cta {
    background: white;
    border-radius: 50px;
    -webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.22);
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.22);
    color: var(--violet);
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 0.76rem;
    padding: 12px 75px 10px;
    transition: all 0.2s ease-in-out;
    user-select: none;
    &:hover {
      background: var(--magenta);
      color: white;
    }
    &:active {
      background: var(--darker-magenta);
      box-shadow: none;
      transform: scale(0.98);
      transition: all 0.1s ease-in-out;
    }
  }
}
.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  .social__icons {
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    height: 28px;
    place-items: center;
    transition: all 0.2s ease-in-out;
    width: 28px;
    &:hover {
      border-color: var(--magenta);
      color: var(--magenta);
    }
    &:active {
      border-color: var(--darer-magenta);
      color: var(--darker-magenta);
      transform: scale(0.95);
      transition: all 0.1s ease-in-out;
    }
    &:last-child .fab {
      transform: scale(0.9);
    }
    .fab {
      transform: scale(0.8);
    }
  }
}
@import "media";
