@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
:root {
  --violet: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
  --darker-magenta: hsl(300, 71%, 64%);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--violet);
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 35px 40px;
}

header {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header svg {
  cursor: pointer;
  height: auto;
  width: 128px;
}

main,
div[role="img"],
footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

div[role="img"] img {
  height: auto;
  max-width: 450px;
  padding: 12px 2.5px 0;
  width: 100%;
}

main {
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  max-width: 56ch;
}

main h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 13px;
}

main p {
  padding-bottom: 25px;
}

main .cta {
  background: white;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.22);
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.22);
  color: var(--violet);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.76rem;
  padding: 12px 75px 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .cta:hover {
  background: var(--magenta);
  color: white;
}

main .cta:active {
  background: var(--darker-magenta);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.social .social__icons {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  height: 28px;
  place-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 28px;
}

.social .social__icons:hover {
  border-color: var(--magenta);
  color: var(--magenta);
}

.social .social__icons:active {
  border-color: var(--darer-magenta);
  color: var(--darker-magenta);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.social .social__icons:last-child .fab {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.social .social__icons .fab {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media (min-width: 1050px) {
  body {
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "main" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 54px 78px 20px 70px;
  }
  .main.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 46px;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  header svg {
    width: 215px;
  }
  div[role="img"] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(57% - 23px);
            flex: 1 0 calc(57% - 23px);
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
  }
  div[role="img"] img {
    max-width: 710px;
  }
  main {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(43% - 23px);
            flex: 1 0 calc(43% - 23px);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 100%;
    padding-top: 62px;
    text-align: left;
  }
  main h1 {
    font-size: 2.5rem;
  }
  main p {
    font-size: 1.12rem;
    padding-top: 8px;
  }
  main .cta {
    font-size: 1.12rem;
    padding: 14px 62px;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .social {
    gap: 16px;
  }
  .social .social__icons {
    height: 40px;
    width: 40px;
  }
  .social .social__icons:last-child .fab {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .social .social__icons .fab {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=styles.css.map */